body{
    font-family: 'Open Sans', sans-serif;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 700;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 800px;
    width: 1600px;
    flex-shrink: 0;

}
.btm-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;

}
.banner{
    padding: 30px 30px 0px  150px ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
      
}
.banner-title{
    display: flex;
    width: 525px;
    flex-direction: column;
    flex-shrink: 0;
    columns: #151414;
}
.banner-content{
    max-width: 500px;
    height: 100vh;
    margin-left: auto;
    margin-bottom: ;
    padding: 216px 50px 365px 945px;
}

/* Main section-1 */

.failure-checklist-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    padding: 70px;
}

.circle{
    width: 527.929px;
    height: 527.929px;
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);
    position: relative;
}

.planner-person{
    position: absolute;
    top: -193px;
    left: -22px;
    border-bottom-right-radius: 41%;
    border-bottom-left-radius: 37%;
    /* margin-right: 100px; */
}

.failure-plan-checklist{
    width: 400px;
}

.section-title{
    font-size: 40px;
}

.failure-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;
    padding-bottom: 34px;
}
.failure-list{
    padding-left: 18px;
    line-height: 25px;
}
.failure-list li{
    font-size: 16px;
    font-weight: 400;
    list-style: none;
}
.failure-list li::before{

    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 5px 0 -15px;
    color: #16D887;

}


/* Main section-2 styles */
.main-section-2{}
.my-plan-container{
    padding: 100px;
}
.my-plan-container h2{
    text-align: center;
    padding-bottom: 40px;
}
.my-plan-area{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.my-plan{}
.plan-icon:hover{
    opacity: 0.7;
}
.plan-title{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}
.plan-sub-title{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/* Main section 3 */

.banner-container{
    background-image:linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 85%;
    margin: auto;
    display: flex;
    vertical-align: center;
}

.inner-banner-section{
    width: 50%;
    padding-left: 100px;
}

.inner-banner-section h2{
    color: white;
    padding-bottom: 20px;
    padding-top: 60px;

}
.btm-extra{
    background-color: white;
    color: #f15b22; ;
}